* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'artisan-ui';
  src: url("/fonts/artisan-ui.eot?smg5h8");
  src: url("/fonts/artisan-ui.eot?#iefixsmg5h8") format("embedded-opentype"), url("/fonts/artisan-ui.ttf?smg5h8") format("truetype"), url("/fonts/artisan-ui.woff?smg5h8") format("woff"), url("/fonts/artisan-ui.svg?smg5h8#artisan-ui") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*="icon-"]:before {
  font-family: 'artisan-ui';
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubble:before {
  content: "\e600"; }

.icon-power-cord:before {
  content: "\e601"; }

.icon-support:before {
  content: "\e602"; }

.icon-user:before {
  content: "\e603"; }

.icon-switch:before {
  content: "\e605"; }

.icon-play:before {
  content: "\e606"; }

.icon-stop-alt:before {
  content: "\e607"; }

.icon-info:before {
  content: "\e604"; }

.icon-arrow-down:before {
  content: "\e61d"; }

.icon-cog:before {
  content: "\e608"; }

.icon-drawer-empty:before {
  content: "\e61f"; }

.icon-drawer:before {
  content: "\e620"; }

.icon-sitemap:before {
  content: "\e609"; }

.icon-circle-blank:before {
  content: "\e60a"; }

.icon-circle:before {
  content: "\e60b"; }

.icon-stop:before {
  content: "\e60c"; }

.icon-published-alt:before {
  content: "\e60d"; }

.icon-platform:before {
  content: "\e60e"; }

.icon-personalize:before {
  content: "\e60f"; }

.icon-optimize:before {
  content: "\e610"; }

.icon-goals:before {
  content: "\e611"; }

.icon-experiment-in-progress:before {
  content: "\e612"; }

.icon-edit:before {
  content: "\e613"; }

.icon-draft-alt:before {
  content: "\e614"; }

.icon-dashboard:before {
  content: "\e615"; }

.icon-check-alt:before {
  content: "\e616"; }

.icon-check-mark:before {
  content: "\e617"; }

.icon-analyze:before {
  content: "\e618"; }

.icon-add:before {
  content: "\e619"; }

.icon-code:before {
  content: "\e61a"; }

.icon-arrow-left:before {
  content: "\e61b"; }

.icon-arrow-right:before {
  content: "\e61c"; }

.icon-cross:before {
  content: "\e61e"; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #383838;
  font-family: "proxima-nova", "Helvetica Neue", "Segoe UI", "Trebuchet MS", arial, sans-serif;
  font-size: 14px; }

#apps-list [class*="icon-"] {
  display: inline-block;
  font-size: 1.10rem;
  line-height: 1.5em;
  vertical-align: middle; }
  #apps-list [class*="icon-"]:before {
    display: inline-block;
    line-height: 1.5em;
    margin-right: 10px;
    vertical-align: middle; }

header {
  display: none; }
  @media screen and (min-width: 769px) {
    header {
      background-color: #212121;
      color: #fff;
      display: block;
      line-height: 25px;
      padding: .75rem 1.5rem; }
      header h1 {
        display: inline-block;
        margin: 0; }
        header h1 a {
          background-image: url("/images/artisan-logo-278x50-white.png");
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 139px 25px;
          display: inline-block;
          height: 25px;
          overflow: hidden;
          text-indent: -30000px;
          width: 139px; } }

.page-content-container nav {
  background-color: #f6f6f6;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .page-content-container nav.navtab-open {
    padding: 1.5rem 0;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .page-content-container nav dl {
    display: none;
    line-height: 2em;
    max-height: 350px;
    margin: 0;
    overflow-y: auto;
    padding: 0 1.5rem; }
    .page-content-container nav dl dt, .page-content-container nav dl dd {
      margin: 0; }
    .page-content-container nav dl dt {
      font-size: 1.15rem;
      font-weight: 600;
      margin-bottom: .5em;
      margin-top: 1em; }
      .page-content-container nav dl dt:first-child {
        margin-top: 0; }
      .page-content-container nav dl dt a {
        color: #383838;
        text-decoration: none; }
    .page-content-container nav dl a {
      color: #557ebf;
      text-decoration: none; }
  .page-content-container nav #navtab {
    background-color: #f6f6f6;
    border-bottom-left-radius: 3px;
    bottom: -2.5rem;
    color: #555;
    display: block;
    font-size: .90em;
    line-height: 1.5rem;
    padding: .5rem 2em;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase; }
  @media screen and (min-width: 769px) {
    .page-content-container nav {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 23.23176%;
      background-color: #fff;
      padding: 2rem 0; }
      .page-content-container nav:last-child {
        margin-right: 0; }
      .page-content-container nav dl {
        display: block;
        line-height: 1.5em;
        overflow: visible; }
      .page-content-container nav #navtab {
        display: none; } }
.page-content-container #content-wrapper {
  padding: 3.5rem 2rem 2rem; }
  .page-content-container #content-wrapper header h1 {
    margin: 0 0 2rem; }
    .page-content-container #content-wrapper header h1 a {
      background-image: url("/images/artisan-logo-278x50.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 139px 25px;
      display: inline-block;
      height: 25px;
      overflow: hidden;
      text-indent: -30000px;
      width: 139px; }
  @media screen and (min-width: 769px) {
    .page-content-container #content-wrapper header {
      display: none; } }
  .page-content-container #content-wrapper article h1 {
    color: #f04123;
    font-size: 1.75rem;
    font-weight: 300; }
    .page-content-container #content-wrapper article h1:first-child {
      margin-top: 0; }
  .page-content-container #content-wrapper article h2 {
    font-size: 1.25rem; }
  .page-content-container #content-wrapper article h3 {
    color: #f3674f;
    font-size: 1rem;
    font-weight: 300; }
  .page-content-container #content-wrapper article p, .page-content-container #content-wrapper article ul {
    line-height: 1.5em; }
  .page-content-container #content-wrapper article .note {
    background-color: #f6f6f6;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    margin-bottom: 1em;
    padding: 20px;
    position: relative; }
    .page-content-container #content-wrapper article .note .note-type {
      display: block;
      font-size: .80rem;
      padding: 0 40px 10px 30px;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase; }
    .page-content-container #content-wrapper article .note p:first-of-type {
      margin-top: 0; }
    .page-content-container #content-wrapper article .note p:last-of-type {
      margin-bottom: 0; }
    .page-content-container #content-wrapper article .note.note-important {
      background-color: #ffeae6;
      border-color: #f3674f; }
    .page-content-container #content-wrapper article .note.note-hint {
      background-color: #fff5d6;
      border-color: #fbcc43; }
  .page-content-container #content-wrapper article table {
    width: 100%; }
    .page-content-container #content-wrapper article table thead th {
      background-color: #e0e0e0;
      color: #383838;
      font-size: 1.10rem;
      font-weight: 300;
      padding: 10px;
      text-align: left; }
    .page-content-container #content-wrapper article table tbody td, .page-content-container #content-wrapper article table tbody th {
      border-bottom: solid 1px #dadada;
      padding: 10px;
      vertical-align: top; }
    .page-content-container #content-wrapper article table tbody th {
      text-align: left; }
  .page-content-container #content-wrapper article pre {
    background-color: #f6f6f6;
    border: solid 1px #dadada;
    overflow: auto;
    padding: 15px;
    white-space: nowrap;
    word-wrap: normal; }
    .page-content-container #content-wrapper article pre code {
      white-space: pre; }
  @media screen and (min-width: 769px) {
    .page-content-container #content-wrapper {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 74.41059%;
      padding: 2rem; }
      .page-content-container #content-wrapper:last-child {
        margin-right: 0; } }
