<footer>
	<div id="footer" class="wrapper">
		<p>Copyright {{ site.time | date: '%Y' }} Artisan Mobile, Inc. All rights reserved.</p>
	</div>
</footer>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		function toStickOrNotToStick () {
			wHeight = $(window).height();
			navHeight = $("#nav-wrapper").outerHeight(true);

			if(wHeight > navHeight ) {
				if($('#category-nav .sticky-wrapper').length == 0) {
					$('#category-nav #nav-wrapper').waypoint('sticky');
				}
			} else {
				$('#category-nav #nav-wrapper').waypoint('unsticky');
			}

			if($('#category-nav').is(':hidden')) {
				$('#category-nav #nav-wrapper').waypoint('unsticky');	
			}
		}

		$(window).resize(function() {
			toStickOrNotToStick();
		});

		toStickOrNotToStick();
	})
</script>