$black: #212121;
$red: #f04123;
$green: #35B67B;
$yellow: #FBCC43;
$blue: #557ebf;
$teal: #6AC8CA;
$gray: #a6a6a6;

$dark-gray: #383838;
$dark-red: #e92914;
$dark-blue: #122556;
$dark-green: #209c5b;

$really-dark-green: #196c40;

$light-red: #f3674f;
$light-gray: #e0e0e0;
$light-green: #5dc595;
$light-yellow: #fcd669;
$light-blue: #7798cc;
$light-teal: #88d3d5;

$super-light-gray: #f6f6f6;
$super-light-blue: #f7f9fb;

$medium-gray: #646464;

$tune-blue: #007aff;

// These should definitely only be used for charts
$light-purple: #9f77cc;
$light-pink: #e76ebe;
$light-orange: #f7a256;
