{% include header.html %}
	<div id="docs-landing" class="wrapper">
		<div class="for-developers">
			<h2>For Developers</h2>
			<h3>Get up and running fast with the Artisan SDK.</h3>
			<ul>
				<li><a href="/dev/ios/install/" title="">iOS</a></li>
				<li><a href="/dev/android/install/" title="">Android</a></li>
			</ul>
		</div>
		<div class="user-documentation">
			<h2>User Documentation</h2>
			<h3>Learn how to use the Artisan mobile experience management platform.</h3>
			<ul>
				<li><a href="/user-guide" title="">Get Started</a></li>
			</ul>
		</div>
	</div>
</body>
</body>
</html>